# Python 3 specific 
Modules/__pycache__/

# Project Specific
PlanningMaterials/
Modules/developmental/
RawData_Mirror.bat
Modules/credentials.py
txtFiles/
Results/

# Eclipse PyDev
.metadata/
*/.project
*/.pydevproject
Modules/.settings/

# Jupyter Notebook Stuff
*/.ipynb_checkpoints
*.ipynb